// src/styles/_variables.scss

$primary-color: #4caf50;
$secondary-color: #45a049;
$background-color: #fafafa;  // Assurez-vous que cette variable est définie ici
$text-color: #333;
$font-family: 'Arial', sans-serif;
$font-size-large: 36px;
$font-size-medium: 18px;
$font-size-small: 14px;
