// src/components/PaymentStatus.scss
@use '../styles/variables' as *;

.payment-status {
  padding: 12px;
  text-align: center;
  font-size: $font-size-medium;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  background-color: $primary-color;

  &.success {
    background-color: #4caf50;
  }

  &.failure {
    background-color: #f44336;
  }
}
